<div class="d-flex" id="wrapper" [ngClass]="toggleMenu ? '' : 'toggled' ">

  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">DASHBOARD </div>
    <div class="list-group list-group-flush">
      <a
        class="list-group-item list-group-item-action"
        [ngClass]="router.url=='/temperature' || router.url=='/temperature/chart' ? 'active' : ''"
        routerLink="/temperature"
        id="temperature">
      Temperature
      </a>
      <a
        class="list-group-item list-group-item-action"
        [ngClass]="router.url=='/air' || router.url=='/air/chart' ? 'active' : ''"
        routerLink="/air"
        id="air">
      Air Humidity
      </a>
      <a
        class="list-group-item list-group-item-action"
        [ngClass]="router.url=='/ground' || router.url=='/ground/chart' ? 'active' : ''"
        routerLink="/ground"
        id="ground">
      Ground Humidity
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle" (click)="toggleMenu = !toggleMenu">☰</button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a 
              class="nav-link iconic" 
              [ngClass]="router.url.includes('/chart') ? '' : 'activex'"
              routerLink="{{urlTable}}">
              <fa-icon [icon]="faTable"></fa-icon>
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link iconic" 
              [ngClass]="router.url.includes('/chart') ? 'activex' : ''"
              routerLink="{{urlChart}}">
              <fa-icon [icon]="faChartBar"></fa-icon>
            </a>
          </li>    
        </ul>
      </div>
    </nav>

    <ng-content></ng-content>
  </div>
  <!-- /#page-content-wrapper -->

</div>
