<div class="container" style="margin-top: 5%">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persons; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ person.date | date:'medium'}}</td>
                <td>{{ person.out }}</td>
            </tr>
        </tbody>
    </table>
  </div>
  